.add_top{ background: #fff; height: 2.5em; margin-bottom: 0.5em;}
.add_top img{ width: 1.1em; margin-right: 0.4em;}
.additem_left{ width: 6em;}
.adduse_item{ background: #fff; padding: 0.6em; margin-bottom: 0.5em;}
.additem_top{ border-bottom: 1px dashed #FF6600; padding-bottom: 0.6em;}
.delete_img{ width: 1.2em; margin-right: 0.6em;}
.edit_img{ width: 1.2em; margin-right: 0.8em;}
.adduse_bottom{ padding-top: 0.8em;}
.borderl{ border-right: 1px solid #FF6600;}
